<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>главная страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>QA-engineer</h1>
        <nav>
            <ul>
                <li><a href="/">главная</a></li>
                <li><a href="/salary/">зарплата</a></li>
                <li><a href="/geography/">география</a></li>
                <li><a href="/skills/">навыки</a></li>
            </ul>
        </nav>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
<footer>
    <div>
        <p>Для связи: @almost_sunny</p>
    </div>
</footer>
</body>
</html>
