{% extends 'base.html' %}
{% load static %}
{% block content %}

<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2003 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2004 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2005 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2006 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2007 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2008 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2009 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2010 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2011 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2012 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2013 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2014 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2015 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2016 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2017 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2018 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2019 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2020 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2021 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2022 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2023 году.png' %}">
<img src="{% static 'images/данные/Топ-10 городов по вакансиям в 2024 году.png' %}">


    {% for table in tables %}
    <div class="card mb-5">
        <div class="card-header bg-primary text-white">
            <h2>{{ table.title }}</h2>
        </div>
        <div class="card-body table-responsive">
            {{ table.html_table|safe }}
        </div>
        <div class="card-footer text-muted">
            Данные за {{ table.year }} год
        </div>
    </div>
    {% endfor %}

{% endblock %}