{% extends 'base.html' %}

{% block content %}
    <h1>QA-инженер</h1>
    <p>Тестировщик (испытатель, тестер) — специалист, принимающий участие в тестировании компонента или системы.</p>
    <p>В его обязанность входит поиск вероятных ошибок и сбоев в функционировании объекта тестирования (продукта, программы).</p>
    <p>Тестировщик моделирует различные ситуации, которые могут возникнуть в процессе использования предмета тестирования, чтобы разработчики смогли исправить обнаруженные ошибки. </p>
    <p>Конкретная цель группы тестирования меняется от компании к компании, но за деталями есть общий фактор.</p>
    <p>Тестируют для поиска информации. Критические решения по проекту или продукту принимают на основе этой информации</p>
{% endblock %}